doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Название
		meta(name='description', content='')
		link(rel='stylesheet', href='css/main.css')
		//- Slick
		//- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
	body
		h1 Hello, World!

		//- script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		//- script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
		//- script(src="js/main.js")